@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body{
    background-color: black;
}

.cclogo{
  margin-right: 0.5rem;
}


.marketing{
    text-align: center;
    padding: 2% 7% 3% 7%;
}

.navpages{
  color: black;
}

.navpages:hover{
  color: gray;
}

#postbutton {
  visibility: hidden;
}


